:root,
[data-theme='dark'] {
  --background: var(--card);
  --container-max: 100%;
}

.pixel-img,
.canvas-output {
  transform-origin: top left; /* Ensures it scales from the top-left corner */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: pixelated; /* Chrome, Edge, Safari */
}

.input-section {
  margin-bottom: 1rem;
}

.ms-auto {
  margin-left: auto;
}

.form-label {
  padding: 0.5rem 0;
  margin-block-end: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}